version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.main
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
      - node_modules:/app/node_modules
    env_file:
      - .env
    environment:
      RAILS_ENV: development
      RAILS_LOG_TO_STDOUT: true
    command: bin/dev
    stdin_open: true
    tty: true

volumes:
  bundle_cache:
  node_modules:
