version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.main
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
      - /app/node_modules
      - /app/public/assets
    env_file:
      - .env
    environment:
      RAILS_ENV: development
      TEAMTAILOR_API_BASE_URL:
      TEAMTAILOR_API_SECRET:

    stdin_open: true
    tty: true

volumes:
  bundle_cache: